body{
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    border: 1px solid #333;
    justify-content: left;
}

label{
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    margin-top: 1rem;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    border: 1px solid #333;
    justify-content: left;
    margin-top: 2rem;
}